@model Projekt_Meteo_Stations.Models.Measurement

@{
    ViewData["Title"] = "Edycja pomiaru";
}

<h1>Edycja</h1>

<h4>Pomiar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MeasurementID" />
            <div class="form-group">
                <label asp-for="MeasurementDate" class="control-label"></label>
                <input asp-for="MeasurementDate" class="form-control" />
                <span asp-validation-for="MeasurementDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperature" class="control-label"></label>
                <input asp-for="Temperature" class="form-control" />
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Humidity" class="control-label"></label>
                <input asp-for="Humidity" class="form-control" />
                <span asp-validation-for="Humidity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pressure" class="control-label"></label>
                <input asp-for="Pressure" class="form-control" />
                <span asp-validation-for="Pressure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StationID" class="control-label"></label>
                <select asp-for="StationID" class="form-control" asp-items="ViewBag.StationID"></select>
                <span asp-validation-for="StationID" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 15px;">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-light">Powrót do listy</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
